<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" />

    <link href="css/altaTransaccion.css" rel="stylesheet" />
    <link href="css/fontello/css/iconset.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <script src="js/AdminTransaccion/AdminTranGlobal.js"></script>
    <script src="js/AdminTransaccion/DatosGral.js"></script>
    <script src="js/AdminTransaccion/CamposDinam.js"></script>
    <script src="js/AdminTransaccion/EtapasAcciones.js"></script>
    <script src="js/AdminTransaccion/Reglas_x_Campo.js"></script>

    <script>
        $("#menutipo").hide();
        $("#menutransact").hide();
    </script>
    <style>
        input[type="text"] {
            padding-left: 4px;
        }
    </style>

</head>


<body>

    <section id="widget-grid">
        <div id="divTiposTransaccion" class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="AdminTransaccion" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false">
                    <header>
                        <h2><i class="icon-prepend  icon-edit"></i><strong>Administración de Transacciones<label id="Title"></label></strong></h2>
                    </header>
                    <div>
                        <div class="widget-body-toolbar">
                            <button id="btnPlus" type="button" class="btn btn-primary btn-sm">
                                <i class="fa fa-user-plus"></i> Agregar
                            </button>
                            <button id="btnEdit" type="button" class="btn btn-warning btn-sm">
                                <i class="fa fa-pencil"></i> Editar
                            </button>
                            <button id="btnDelete" type="button" class="btn btn-danger btn-sm">
                                <i class="fa fa-trash"></i> Eliminar
                            </button>
                        </div>

                        <div class="widget-body">
                            <table id="dtTiposTransaccion" class="table table-striped table-bordered table-hover DTTT_selectable" cellspacing="0" width="100%">
                                <thead>
                                    <tr>

                                        <th class="hasinput" style="width:5%">
                                            <input type="text" class="form-control" placeholder="Nombre" />
                                        </th>
                                        <th class="hasinput" style="width:5%">
                                            <input type="text" class="form-control" placeholder="Clave" />
                                        </th>
                                        <th class="hasinput" style="width:5%">
                                            <input type="text" class="form-control" placeholder="Categoría" />
                                        </th>
                                        <th class="hasinput" style="width:5%">
                                            <input type="text" class="form-control" placeholder="Estatus" />
                                        </th>
                                        <th class="hasinput" style="width:5%">
                                            <input type="text" class="form-control" placeholder="Fecha" />
                                        </th>

                                    </tr>
                                    <tr>

                                        <th data-class="expand">Nombre</th>
                                        <th>Clave</th>
                                        <th data-hide="phone,tablet,desktop">Categoría</th>
                                        <th data-hide="phone,tablet,desktop">Estatus</th>
                                        <th data-hide="phone,tablet,desktop">Fecha</th>
                                    </tr>
                                </thead>

                            </table>




                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <section id="sectDatosGral">
        <div id="divTiposTransaccion" class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="AdminTransaccion" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false">
                    <header>
                        <h2><i class="icon-prepend  icon-edit"></i><strong>Administración de Transacciones<label id="Title"></label></strong></h2>
                    </header>
                    <div>
                        <div class="widget-body-toolbar">

                            <button id="btnAtras" type="button" class="btn btn-danger btn-sm">
                                <i class="fa fa-arrow-left"></i> Atrás
                            </button>

                        </div>

                        <div class="widget-body">
                            <form class="smart-form" id="frmDatosGral">
                                <header>
                                    Datos Generales
                                </header>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="control-label">* Área</label>
                                            <select class="form-control" id="area" name="area" data-bv-field="area"><option value="0"> Seleccione un área </option><option value="9">Almacen</option><option value="8">AlmacenPrueba</option><option value="3025">Área que se encarga de la operativa de telepeaje</option><option value="10">Artículos</option><option value="1">Encargada del pago de recursadfadfos</option><option value="3027">fdsddf</option><option value="3">Finanzas</option><option value="11">Gestion Proyectos </option><option value="6">Ingenieria </option><option value="4025">marioooo</option><option value="2">Mercadotecnia 1</option><option value="7">PMO</option><option value="4">Talento Humano</option><option value="5">Tecnologia</option><option value="3026">test</option></select>
                                            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="area" data-bv-result="NOT_VALIDATED" style="display: none;"> </small><small class="help-block" data-bv-validator="callback" data-bv-for="area" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a valid value</small>
                                        </section>
                                        <section class="col col-3">
                                            <label class="control-label">* Proceso</label>
                                            <select class="form-control" id="proceso" name="proceso" disabled="" data-bv-field="proceso">
                                                <option value="0" disabled="" selected="" hidden=""> Seleccione un proceso </option>

                                            </select>
                                            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="proceso" data-bv-result="NOT_VALIDATED" style="display: none;"> </small><small class="help-block" data-bv-validator="callback" data-bv-for="proceso" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a valid value</small>
                                        </section>

                                    </div>

                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="control-label">* Nombre</label>
                                            <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Ingrese el nombre de la transacción" onkeypress="return validarCaracteresN(event)" data-bv-field="nombre">
                                            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="nombre" data-bv-result="NOT_VALIDATED" style="display: none;">El nombre es obligatorio</small>
                                        </section>
                                        <section class="col col-3">
                                            <label class="control-label">* Clave  </label>
                                            <input type="text" name="clave" id="clave" class="form-control" placeholder="Ingrese la clave de la transacción" onkeypress="return validarCaracteresN(event)" data-bv-field="clave">
                                            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="clave" data-bv-result="NOT_VALIDATED" style="display: none;">La clave es obligatoria</small>
                                        </section>
                                        <section class="col col-3">
                                            <label class="control-label">* Categoría</label>
                                            <select class="form-control" id="categoria" name="categoria" data-bv-field="categoria"><option value="0"> Seleccione una categoria </option><option value="1">Catálogo</option><option value="4">controL</option><option value="7">Control</option><option value="5">Operación</option><option value="1028">relaciON</option><option value="2">Relación</option><option value="6">Reportes</option><option value="3">Seguridad</option><option value="1026">Test</option><option value="1027">Test 2</option></select>
                                            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="categoria" data-bv-result="NOT_VALIDATED" style="display: none;"> </small><small class="help-block" data-bv-validator="callback" data-bv-for="categoria" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a valid value</small>
                                        </section>
                                        <section class="col col-3">
                                            <button type="button" id="btn_agregarTransaccion" class="btn btn-sm btn-primary" style="margin-top: 7%;">Crear Transacción</button>
                                        </section>
                                        <section class="col col-3">
                                            <button type="button" id="btn_EditTransaccion" class="btn btn-warning btn-sm" style="margin-top: 7%; display: none;">Editar Transacción</button>
                                        </section>
                                    </div>
                                </fieldset>
                                <br /><br />

                                <footer id="footerDatosGral">
                                    <button id="btnNextDatosGral" type="button" class="btn btn-primary pull-right">
                                        Siguiente <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                    <!--<button type="button" class="btn btn-danger pull-left">
                                        <i class="fa fa-arrow-circle-left"></i> Regresar
                                    </button>-->
                                </footer>                            
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <section id="sectCamposDin">
        <div id="divTiposTransaccion" class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="AdminTransaccion" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false">
                    <header>
                        <h2><i class="icon-prepend  icon-edit"></i><strong>Administración de Transacciones<label id="Title"></label></strong></h2>
                    </header>
                    <div>
                        <div class="widget-body-toolbar">
                            <button id="btnAtras" type="button" class="btn btn-danger btn-sm">
                                <i class="fa fa-arrow-left"></i> Atrás
                            </button>
                        </div>

                        <div class="widget-body">
                            <form class="smart-form" id="frmCamposDin">
                                <header>
                                    Campos Dinámicos
                                </header>

                                <fieldset>

                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="control-label">* Nombre del campo</label>
                                            <input ondrop="return false;" type="text" name="nombreCampo" id="nombreCampo" class="form-control " placeholder="Nombre del campo" onkeypress="return validarRFC(event)">
                                        </section>
                                        <section class="col col-3">
                                            <label class="control-label">* Descripción</label>
                                            <input ondrop="return false;" type="text" name="descCampo" id="descCampo" class="form-control" placeholder="Descripción" onkeypress="return validarCaracteres(event)">
                                        </section>

                                        <section class="col col-3">
                                            <label class=" control-label">* Tipo de dato</label>
                                            <select class="form-control" id="tipoDato" name="tipoDato"><option value="0"> Seleccione un tipo de dato </option><option value="7">Boleano</option><option value="2">Date</option><option value="6">DateTime</option><option value="8">Decimal</option><option value="4">Double</option><option value="5">Float</option><option value="1">Number</option><option value="3">Text</option><option value="9">Tiempo</option></select>
                                        </section>

                                    </div>

                                    <div class="row">
                                        <section class="col col-3" id="longi">
                                            <label class="control-label">* Longitud</label>
                                            <input ondrop="return false;" type="text" name="longitud" class="form-control" id="longitud" placeholder="Longitud" onkeypress="return validarNumeros(event)" data-bv-excluded="false">
                                        </section>
                                        <section class="col col-3">
                                            <label class="control-label">* Nivel</label>

                                            <select class="form-control" id="nivel" name="nivel"><option value="0"> Seleccione un nivel </option><option value="1">Cabecera</option><option value="2">Detalle</option></select>
                                        </section>
                                        <section class="col col-3">
                                            <label class="control-label">* Operación</label>
                                            <select class="form-control" id="tipoOperacion" name="tipoOperacion"><option value="0"> Seleccione un tipo de operación </option><option value="1">Campo Abierto</option><option value="2">Campo Calculado</option></select>
                                        </section>

                                        <section class="col col-3">
                                            <button type="button" id="btn_agregar" class="btn btn-sm btn-primary btn-block">Agregar</button>
                                        </section>
                                    </div>
                                </fieldset>

                                <div id="DetalleCamposDin">
                                    <header></header>
                                    <br />
                                    <div>
                                        <button id="btnEditComplement1" type="button" class="btn btn-warning btn-sm">
                                            <i class="fa fa-pencil"></i> Editar
                                        </button>
                                        <button id="btnDeleteComplement1" type="button" class="btn btn-danger btn-sm">
                                            <i class="fa fa-trash"></i> Eliminar
                                        </button>

                                    </div>
                                    <br />
                                    <table id="tablaComplementarios" class="table table-striped table-bordered table-hover DTTT_selectable" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th data-class="expand">Nombre del campo</th>
                                                <th>Descripción</th>
                                                <th>Tipo de dato</th>
                                                <th data-hide="phone,tablet,desktop">Longitud</th>
                                                <th data-hide="phone,tablet,desktop">Nivel</th>
                                                <th data-hide="phone,tablet,desktop">Tipo de operación</th>
                                                <th data-hide="phone,tablet,desktop">idTipoDato</th>
                                                <th data-hide="phone,tablet,desktop">idNivel</th>
                                                <th data-hide="phone,tablet,desktop">idOperacion</th>
                                                <th data-hide="phone,tablet,desktop">idCampo</th>

                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <br />
                                <br />
                                <footer id="footerCamposDin">
                                    <button id="btnNextCamposDin" type="button" class="btn btn-primary pull-right">
                                        Siguiente <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                    <button id="btnBackCamposDin" type="button" class="btn btn-danger pull-left">
                                        <i class="fa fa-arrow-circle-left"></i> Regresar
                                    </button>
                                </footer>
                            </form>

                        </div>
                        
                    </div>
                </div>
            </article>
        </div>
    </section>

    <section id="sectEtapAcci">
        <div id="divTiposTransaccion" class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="AdminTransaccion" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false">
                    <header>
                        <h2><i class="icon-prepend  icon-edit"></i><strong>Administración de Transacciones<label id="Title"></label></strong></h2>
                    </header>
                    <div>
                        <div class="widget-body-toolbar">
                            <button id="btnAtras" type="button" class="btn btn-danger btn-sm">
                                <i class="fa fa-arrow-left"></i> Atrás
                            </button>
                        </div>

                        <div class="widget-body">
                            <form class="smart-form" id="form_ciclo">
                                <header>
                                    Crear Etapas
                                </header>

                                <fieldset>

                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="control-label">* Nombre de la etapa</label>
                                            <label class="input">
                                                <input ondrop="return false;" type="text" name="nombreEtapa" id="nombreEtapa" class="form-control"
                                                       placeholder="Ingrese el nombre de la etapa" onkeypress="return validarCaracteres(event)">
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="control-label">* Orden de la etapa</label>
                                            <label class="input">
                                                <input ondrop="return false;" type="text" name="orden" id="orden" class="form-control"
                                                       placeholder="Ingrese el orden" onkeypress="return validarNumeros(event)">
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="control-label"></label>
                                            <button type="button" id="btnAddEtapa" class="btn btn-sm btn-primary btn-block">Agregar</button>
                                        </section>
                                    </div>
                                </fieldset>

                                <div id="DetalleEtapas">
                                    <header></header>
                                    <br />
                                    <div>
                                        <button id="btnEditComplement1" type="button" class="btn btn-warning btn-sm">
                                            <i class="fa fa-pencil"></i> Editar
                                        </button>
                                        <button id="btnDeleteComplement1" type="button" class="btn btn-danger btn-sm">
                                            <i class="fa fa-trash"></i> Eliminar
                                        </button>

                                    </div>
                                    <br />
                                    <table id="tablaEtapa" class="table table-striped table-bordered table-hover DTTT_selectable" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th data-class="expand">Nombre del la etapa</th>
                                                <th>Orden</th>
                                                <th>idEtapa</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>

                                <footer id="footerEta">
                                    <button id="btnBackEta" type="button" class="btn btn-danger pull-left">
                                        <i class="fa fa-arrow-circle-left"></i> Regresar
                                    </button>
                                </footer>

                            </form>
                            <br />
                            <br />

                            <form class="smart-form" id="form_acciones">
                                <header>
                                    Crear Acciones
                                </header>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="control-label">* Nombre de la etapa</label>
                                            <label class="select">
                                                <select class="select" id="selectEtapa" name="selectEtapa"></select>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="control-label">* Nombre de la acción</label>
                                            <label class="input">
                                                <input ondrop="return false;" type="text" name="nombreAccion" class="form-control"
                                                       id="nombreAccion" placeholder="Ingrese el nombre de la acción" onkeypress="return validarCaracteres(event)">
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="control-label">* Clave de la acción</label>
                                            <label class="input">
                                                <input ondrop="return false;" type="text" name="claveAccion" class="form-control"
                                                       id="claveAccion" placeholder="Ingrese la clave acción" onkeypress="return validarCaracteresN(event)">
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="control-label">* Orden de la acción</label>
                                            <label class="input">
                                                <input ondrop="return false;" type="text" name="ordenAccion" class="form-control"
                                                       id="ordenAccion" placeholder="Ingrese el orden" onkeypress="return validarNumeros(event)">
                                            </label>
                                        </section>
                                        
                                        </div>
                                        <div class="row">
                                            <section class="col col-3">
                                                <div class="tree smart-form">
                                                    <ul>
                                                        <li>
                                                            <span><i class="fa fa-lg fa-plus-circle"></i> Roles Permitidos</span>
                                                            <ul id="_Roles">

                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </section>
                                        </div>
                                </fieldset>
                                        <br />
                                        <br />
                                <fieldset>
                                    <div class="row">

                                        <div class="col col-2 pull-right">
                                            <button type="button" id="btnAddEtapaAccion" class="btn btn-sm btn-primary btn-block " style="align-items:center">Agregar</button>
                                        </div>
                                    </div>
                                </fieldset>
                                        <br />
                                        <br />
                                <div id="DetalleAcciones">
                                    <header></header>
                                    <br />
                                    <div>
                                        <button id="btnEditComplement1" type="button" class="btn btn-warning btn-sm">
                                            <i class="fa fa-pencil"></i> Editar
                                        </button>
                                        <button id="btnDeleteComplement1" type="button" class="btn btn-danger btn-sm">
                                            <i class="fa fa-trash"></i> Eliminar
                                        </button>

                                    </div>
                                    <br />
                                    <table id="tablaAciones" class="table table-striped table-bordered table-hover DTTT_selectable" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th data-class="expand">Nombre etapa</th>
                                                <th data-class="expand">Nombre accion</th>
                                                <th data-class="expand">Clave accion</th>
                                                <th>Orden</th>
                                                <th>idEtapa</th>
                                                <th>idaccion</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                        <br />
                                        <br />

                                <footer id="footerEta">
                                    <button id="btnNextEtaAcc" type="button" class="btn btn-primary pull-right">
                                        Siguiente <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                    <button id="btnBackEtaAcc" type="button" class="btn btn-danger pull-left">
                                        <i class="fa fa-arrow-circle-left"></i> Regresar
                                    </button>
                                </footer>

                                <footer id="footerAcc">
                                    <button id="btnNextAcc" type="button" class="btn btn-primary pull-right">
                                        Siguiente <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                    <button id="btnBackAcc" type="button" class="btn btn-danger pull-left">
                                        <i class="fa fa-arrow-circle-left"></i> Regresar
                                    </button>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>


    


    <section id="sectRxCampo">
        <div id="divTiposTransaccion" class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="AdminTransaccion" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false">
                    <header>
                        <h2><i class="icon-prepend  icon-edit"></i><strong>Administración de Transacciones<label id="Title"></label></strong></h2>
                    </header>
                    <div>
                        <div class="widget-body-toolbar">
                            <button id="btnAtras" type="button" class="btn btn-danger btn-sm">
                                <i class="fa fa-arrow-left"></i> Atrás
                            </button>
                        </div>

                        <div class="widget-body">
                            <form class="smart-form form-inline" id="form_RN2">
                                <header>
                                    Reglas por Campo
                                </header>
                                <div class="row" style="margin-top: 10px">
                                    <section class="col col-4" style="margin-bottom:0px;">
                                        <label class="control-label">* Etapa</label>
                                        <label class="select">
                                            <select class="select form-control" id="EtapaRegaCampo" name="EtapaRegaCampo"></select>
                                        </label>
                                    </section>
                                    <section class="col col-4" style="margin-bottom:0px;">
                                        <label class="control-label">* Acción</label>
                                        <label class="select">
                                            <select class="select form-control" id="AccionRegaCampo" name="AccionRegaCampo"></select>
                                        </label>
                                    </section>

                                </div>

                                <header>
                                    Configuración
                                </header>
                                <fieldset>
                                    <div class="row">
                                        <section class="col-sm-12">
                                            <div class="tableCenter trnc">
                                                <table id="example" class="tablaa table table-striped table-bordered table-hover DTTT_selectable" cellspacing="0" width="100%"></table>
                                            </div>
                                        </section>
                                    </div>
                                </fieldset>
                                <div class="row">
                                    <section class="col col-2 pull-right" style="margin-top: 1%">
                                        <button type="button" id="btnRxCampo" class="btn btn-sm btn-primary btn-block">Agregar</button>
                                    </section>
                                </div>

                                <br />
                                <br />

                                <footer id="footerRxCampo">
                                    <button id="btnNextRxCampo" type="button" class="btn btn-primary pull-right">
                                        Siguiente <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                    <button id="btnBackRxCampo" type="button" class="btn btn-danger pull-left">
                                        <i class="fa fa-arrow-circle-left"></i> Regresar
                                    </button>
                                </footer>



                            </form>
                            



                        </div>

                    </div>
                </div>
            </article>
        </div>
    </section>





    <section id="frmConbobox" class="">
        <!-- START ROW -->
        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">

                    <header>
                        <h2 id="nuevaTransaccion"><span class="widget-icon"> <i class="fa fa-edit"></i> <b>Alta de Tipo de Transacción</b> </span></h2>
                    </header>
                    <div>
                        <!-- Boton Atras :D -->
                        <div class="widget-body-toolbar">
                            <button id="btnAtras" type="button" class="btn btn-danger btn-sm">
                                <i class="fa fa-arrow-left"></i> Atrás
                            </button>
                        </div>
                        <div class="widget-body no-padding">

                            <form class="smart-form">
                                <header id="titulo">
                                    ComboBox
                                </header>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-4" style="margin-bottom:0px;">
                                            <label class="control-label">* Etapa</label>
                                            <label class="select">
                                                <select class="select form-control" id="Combo_etapa" name="Combo_etapa"></select>
                                            </label>
                                        </section>
                                        <section class="col col-4" style="margin-bottom:0px;">
                                            <label class="control-label">* Acción</label>
                                            <label class="select">
                                                <select class="select form-control" id="Combo_accion" name="Combo_accion"></select>
                                            </label>
                                        </section>

                                    </div>
                                    <header>
                                        Configuración Combobox
                                    </header>
                                    <fieldset>
                                        <div class="row">
                                            <section class="col-sm-12">
                                                <div class="tableCenter tcombo">
                                                    <table id="examples" class="table table-striped table-bordered table-hover DTTT_selectable Camp" cellspacing="0" width="100%"></table>
                                                </div>
                                            </section>
                                        </div>
                                    </fieldset>
                                    <div class="row">
                                        <section class="col col-2" style="margin-top: 1%">
                                            <button type="button" id="btn_agregarCombo" class="btn btn-sm btn-primary btn-block">Agregar</button>
                                        </section>
                                    </div>

                                </fieldset>

                                <footer id="footerCampoDin">
                                    <button type="button" class="btn btn-primary pull-right">
                                        Siguiente <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger pull-left">
                                        <i class="fa fa-arrow-circle-left"></i> Regresar
                                    </button>
                                </footer>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

    </section>

</body>

</html>